/OllamaChat/OllamaChat/bin/Debug/net9.0/runtimes/browser/lib/net8.0/System.Text.Encodings.Web.dll
/OllamaChat/OllamaChat/bin/Debug/net9.0/runtimes/win/lib/net9.0/System.Diagnostics.EventLog.dll
/OllamaChat/OllamaChat/bin/Debug/net9.0/runtimes/win/lib/net9.0/System.Diagnostics.EventLog.Messages.dll
/OllamaChat/OllamaChat/bin/Debug/net9.0/runtimes/win/lib/net9.0/System.Text.Encodings.Web.dll
/OllamaChat/OllamaChat/bin/Debug/net9.0/Microsoft.Extensions.AI.Abstractions.dll
/OllamaChat/OllamaChat/bin/Debug/net9.0/Microsoft.Extensions.AI.dll
/OllamaChat/OllamaChat/bin/Debug/net9.0/Microsoft.Extensions.Caching.Abstractions.dll
/OllamaChat/OllamaChat/bin/Debug/net9.0/Microsoft.Extensions.Configuration.Abstractions.dll
/OllamaChat/OllamaChat/bin/Debug/net9.0/Microsoft.Extensions.Configuration.Binder.dll
/OllamaChat/OllamaChat/bin/Debug/net9.0/Microsoft.Extensions.Configuration.CommandLine.dll
/OllamaChat/OllamaChat/bin/Debug/net9.0/Microsoft.Extensions.Configuration.dll
/OllamaChat/OllamaChat/bin/Debug/net9.0/Microsoft.Extensions.Configuration.EnvironmentVariables.dll
/OllamaChat/OllamaChat/bin/Debug/net9.0/Microsoft.Extensions.Configuration.FileExtensions.dll
/OllamaChat/OllamaChat/bin/Debug/net9.0/Microsoft.Extensions.Configuration.Json.dll
/OllamaChat/OllamaChat/bin/Debug/net9.0/Microsoft.Extensions.Configuration.UserSecrets.dll
/OllamaChat/OllamaChat/bin/Debug/net9.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/OllamaChat/OllamaChat/bin/Debug/net9.0/Microsoft.Extensions.DependencyInjection.dll
/OllamaChat/OllamaChat/bin/Debug/net9.0/Microsoft.Extensions.Diagnostics.Abstractions.dll
/OllamaChat/OllamaChat/bin/Debug/net9.0/Microsoft.Extensions.Diagnostics.dll
/OllamaChat/OllamaChat/bin/Debug/net9.0/Microsoft.Extensions.FileProviders.Abstractions.dll
/OllamaChat/OllamaChat/bin/Debug/net9.0/Microsoft.Extensions.FileProviders.Physical.dll
/OllamaChat/OllamaChat/bin/Debug/net9.0/Microsoft.Extensions.FileSystemGlobbing.dll
/OllamaChat/OllamaChat/bin/Debug/net9.0/Microsoft.Extensions.Hosting.Abstractions.dll
/OllamaChat/OllamaChat/bin/Debug/net9.0/Microsoft.Extensions.Hosting.dll
/OllamaChat/OllamaChat/bin/Debug/net9.0/Microsoft.Extensions.Logging.Abstractions.dll
/OllamaChat/OllamaChat/bin/Debug/net9.0/Microsoft.Extensions.Logging.Configuration.dll
/OllamaChat/OllamaChat/bin/Debug/net9.0/Microsoft.Extensions.Logging.Console.dll
/OllamaChat/OllamaChat/bin/Debug/net9.0/Microsoft.Extensions.Logging.Debug.dll
/OllamaChat/OllamaChat/bin/Debug/net9.0/Microsoft.Extensions.Logging.dll
/OllamaChat/OllamaChat/bin/Debug/net9.0/Microsoft.Extensions.Logging.EventLog.dll
/OllamaChat/OllamaChat/bin/Debug/net9.0/Microsoft.Extensions.Logging.EventSource.dll
/OllamaChat/OllamaChat/bin/Debug/net9.0/Microsoft.Extensions.Options.ConfigurationExtensions.dll
/OllamaChat/OllamaChat/bin/Debug/net9.0/Microsoft.Extensions.Options.dll
/OllamaChat/OllamaChat/bin/Debug/net9.0/Microsoft.Extensions.Primitives.dll
/OllamaChat/OllamaChat/bin/Debug/net9.0/OllamaChat
/OllamaChat/OllamaChat/bin/Debug/net9.0/OllamaChat.deps.json
/OllamaChat/OllamaChat/bin/Debug/net9.0/OllamaChat.dll
/OllamaChat/OllamaChat/bin/Debug/net9.0/OllamaChat.pdb
/OllamaChat/OllamaChat/bin/Debug/net9.0/OllamaChat.runtimeconfig.json
/OllamaChat/OllamaChat/bin/Debug/net9.0/OllamaSharp.dll
/OllamaChat/OllamaChat/bin/Debug/net9.0/System.Diagnostics.DiagnosticSource.dll
/OllamaChat/OllamaChat/bin/Debug/net9.0/System.Diagnostics.EventLog.dll
/OllamaChat/OllamaChat/bin/Debug/net9.0/System.IO.Pipelines.dll
/OllamaChat/OllamaChat/bin/Debug/net9.0/System.Numerics.Tensors.dll
/OllamaChat/OllamaChat/bin/Debug/net9.0/System.Text.Encodings.Web.dll
/OllamaChat/OllamaChat/bin/Debug/net9.0/System.Text.Json.dll
/OllamaChat/OllamaChat/bin/Debug/net9.0/System.Threading.Channels.dll
